<footer class="app__footer">
    <div class="grid wide">
        <div class="row footer__top">
            <div class="col l-9 m-12 c-12">
                <div class="row">
                    <div class="col l-3 m-3 c-12">
                        <span class="footer-link__heading">Popular Categories</span>
                        <ul class="footer-link__list">
                            <div class="row">
                                <div class="col l-12 m-12 c-6">
                                    <li class="footer-link__item">
                                        <a href="" class="footer-link__link">Children</a>
                                    </li>
                                </div>
                                <div class="col l-12 m-12 c-6">
                                    <li class="footer-link__item">
                                        <a href="" class="footer-link__link">Teen and Young Adult</a>
                                    </li>
                                </div>
                                <div class="col l-12 m-12 c-6">
                                    <li class="footer-link__item">
                                        <a href="" class="footer-link__link">Romance</a>
                                    </li>
                                </div>
                                <div class="col l-12 m-12 c-6">
                                    <li class="footer-link__item">
                                        <a href="" class="footer-link__link">Mystery & Thriller</a>
                                    </li>
                                </div>
                                <div class="col l-12 m-12 c-6">
                                    <li class="footer-link__item">
                                        <a href="" class="footer-link__link">Sci-fi & Fantasy</a>
                                    </li>
                                </div>
                                <div class="col l-12 m-12 c-6">
                                    <li class="footer-link__item">
                                        <a href="" class="footer-link__link">Literature & Fiction</a>
                                    </li>
                                </div>
                            </div>
                        </ul>
                    </div>
                    <div class="col l-3 m-3 c-12">
                        <span class="footer-link__heading">Our Website</span>
                        <ul class="footer-link__list">
                            <div class="row">
                                <div class="col l-12 m-12 c-6">
                                    <li class="footer-link__item">
                                        <a href="../html/blog_list.html" class="footer-link__link">Blog</a>
                                    </li>
                                </div>
                                <div class="col l-12 m-12 c-6">
                                    <li class="footer-link__item">
                                        <a href="../html/about.html" class="footer-link__link">About Us</a>
                                    </li>
                                </div>
                                <div class="col l-12 m-12 c-6">
                                    <li class="footer-link__item">
                                        <a href="../html/donate.html" class="footer-link__link">Donation</a>
                                    </li>
                                </div>
                            </div>
                        </ul>
                    </div>
                    <div class="col l-3 m-3 c-12">
                        <span class="footer-link__heading">Account</span>
                        <ul class="footer-link__list">
                            <div class="row">
                                <div class="col l-12 m-12 c-6">
                                    <li class="footer-link__item">
                                        <a href="" class="footer-link__link">Settings</a>
                                    </li>
                                </div>
                                <div class="col l-12 m-12 c-6">
                                    <li class="footer-link__item">
                                        <a href="" class="footer-link__link">Shopping Cart</a>
                                    </li>
                                </div>
                                <div class="col l-12 m-12 c-6">
                                    <li class="footer-link__item">
                                        <a href="" class="footer-link__link">Order History</a>
                                    </li>
                                </div>
                                <div class="col l-12 m-12 c-6">
                                    <li class="footer-link__item">
                                        <a href="" class="footer-link__link">Wish List</a>
                                    </li>
                                </div>
                            </div>
                        </ul>
                    </div>
                    <div class="col l-3 m-3 c-12">
                        <span class="footer-link__heading">Quick Help</span>
                        <ul class="footer-link__list">
                            <div class="row">
                                <div class="col l-12 m-12 c-6">
                                    <li class="footer-link__item">
                                        <a href="" class="footer-link__link">Help & Support</a>
                                    </li>
                                </div>
                                <div class="col l-12 m-12 c-6">
                                    <li class="footer-link__item">
                                        <a href="" class="footer-link__link">Shipping Costs</a>
                                    </li>
                                </div>
                                <div class="col l-12 m-12 c-6">
                                    <li class="footer-link__item">
                                        <a href="" class="footer-link__link">Billing</a>
                                    </li>
                                </div>
                                <div class="col l-12 m-12 c-6">
                                    <li class="footer-link__item">
                                        <a href="" class="footer-link__link">Return Policy</a>
                                    </li>
                                </div>
                                <div class="col l-12 m-12 c-6">
                                    <li class="footer-link__item">
                                        <a href="" class="footer-link__link">Contact Us</a>
                                    </li>
                                </div>
                            </div>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="col l-3 m-6 c-12 l-o-0 m-o-3">
                <div class="footer-input">
                    <span class="footer-input__heading">Sign up for savings, news, and updates</span>
                    <div class="footer-input__wrapper">
                        <input class="footer-input__input" type="email" placeholder="Email Address">
                        <button class="footer-input__submit">Send</button>
                    </div>
                    <p class="footer-input__description">Submit your email address to receive BookSafe offers & updates. You can view BookSafe’s
                        Privacy Policy <a href="">here</a>.</p>
                </div>
                <div class="footer-link-icon">
                    <span class="footer-link-icon__heading">Follow Us</span>
                    <ul class="footer-link-icon__list">
                        <li class="footer-link-icon__item">
                            <a href="" class="footer-link-icon__link">
                                <i class="footer-link-icon__icon fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="footer-link-icon__item">
                            <a href="" class="footer-link-icon__link">
                                <i class="footer-link-icon__icon fab fa-instagram"></i>
                            </a>
                        </li>
                        <li class="footer-link__item">
                            <a href="" class="footer-link-icon__link">
                                <i class="footer-link-icon__icon fab fa-pinterest-p"></i>
                            </a>
                        </li>
                        <li class="footer-link__item">
                            <a href="" class="footer-link-icon__link">
                                <i class="footer-link-icon__icon fab fa-twitter"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer__bottom">
            <ul class="footer-legal__list">
                <li class="footer-legal__item">
                    <a href="" class="footer-legal__link">Terms of Use</a>
                </li>
                <li class="footer-legal__item">
                    <a href="" class="footer-legal__link">Privacy Policy</a>
                </li>
                <li class="footer-legal__item">
                    <a href="" class="footer-legal__link">Do Not Sell My Personal Information</a>
                </li>
                <li class="footer-legal__item">
                    <a href="" class="footer-legal__link">Accessibility</a>
                </li>
            </ul>
            <p class="footer-copyright">Copyright &copy; 2021 BookSafe.com</p>
        </div>
    </div>
</footer>